<layout>
    <navbar>
        <brand> Lession Materials </brand>
    </navbar>

    <content>
        <aside vertical background="">
            {{#each groups}}
            <a href="/{{code}}">
                <icon name="collection"></icon>
                {{name}}
            </a>
            {{/each}}
        </aside>
        <main padding="30px">
                <h3 margin="20px 0"> {{name}} </h3>
                <grid column="4" gap="20px">
                    {{#each lessions}}
                    <card>
                        <heading> {{number}}. {{theme}} </heading>
                        <content>
                            <v-stack>
                                {{description}}
                                <span style="font-size: 14px; color: gray;"> {{date}} </span>
                            </v-stack>
                        </content>
                        <actions>
                            <a href="/{{../code}}/{{number}}/"> 
                                Show
                                <icon name="arrow-right"></icon>
                            </a>
                        </actions>
                    </card>
                     {{/each}}
                </grid>
        </main>
    </content>
</layout>